<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
  <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
  <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-1-9/css/7-1-9.css">
</head>
<body>
  <div class="top">
    <!--<div class="box"><a href="#" class="btn bgleft"><span>7-1-1 背景が流れる（左から右）</span></a></div>-->
    <nav>
  <ul>
    <li><div class="link"><a href="/">キーワード</a></div></li>
    <li><div class="link"><a href="/number">文字数</a></div></li>
    <li><div class="link"><a href="/random">おまかせ（おすすめ）</a></div></li>
    <li><div class="link"><a href="#">履歴</a></div></li>
  </ul>
</nav>
  </div>
  <div class="main">
  <h1 class="circle"><%= @result %></h1>
  <p><br>正解は「<%= @answer %>」です<br><br></p>
  <p><%= @kaisetu %></p>
  <form action="/random" method="get" ><input type="submit" value="最初に戻る" class="orbutton"></form>
  </div>
</body>
</html>